node_modules
dist
dist-ssr
*.local
*.tsbuildinfo

# Editors
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Playwright
playwright-report
test-results
playwright/.cache
